body {
  color: #091d25;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.ord_bg {
  position: absolute;
  margin-left: 600px;
  margin-top: -100px;
  z-index: -1;
}

.ord_bg img {
  width: 900px;
  height: 750px;
}

.orders {
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  padding-left: 10px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.table__orders {
  width: 1200px;
  background-color: #fff;
  border: 2px solid #091d25;
  border-collapse: collapse;
}

.table__orders tr:nth-child(odd) {
  background-color: #e3ebee;
}

.th__orders {
  text-align: center;
  padding: 10px 6px;
  border: 1px solid #091d25;
}

.td__orders {
  text-align: center;
  padding: 10px 6px;
  border: 1px solid #091d25;
}
